body {
  background: #3B3348;
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: bold;
}

#drum-machine {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#device {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #615786;
  border: 5px solid #9777B1;
  border-radius: 5px;
  width: 200px;
  height: 300px;
}

#keypad {
  display: grid;
  grid-template-columns: 40px 40px 40px;
  grid-template-rows: 30px 30px 30px;
  grid-gap: 0.3em 0.3em;
  margin: 1em;
}

.drum-pad {
  background: #6FCCC6;
  color: #5E417A;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.07s;
}

.playing {
  transform: scale(0.8);
}

#display {
  background: #3B3348;
  width: calc(120px + 0.6em);
  line-height: 1.5em;
  text-align: center;
  border: 1px solid #9777B1;
  color: #F59BB0;
  
}

